<!--<form action="/users" accept-charset="UTF-8" method="post">
    <label for="First_name" > First Name</label>
    <input type="text" id="First_name" name="user[username]">
    <label for="email" >Email</label>
    <input type="email" id="email" name="user[email]">
    <label for="password">Password</label>
    <input type="password" id="password" name="user[password]">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
    <button type="submit">Submit</button>
</form>-->

<!-- <%=form_tag("/user",method:'post') do%> <-- this only accepts top level arguments, not nested hashes.

    <%=label_tag(:a,"First name") %> 
    <%=text_field_tag(:a)%>
    <%=label_tag(:b,"email") %>
    <%=text_field_tag(:b)%>
    <%=label_tag(:c,"password")%>
    <%=text_field_tag(:c)%>
    <%=submit_tag('Submit')%>

<%end%> -->


<%= form_with model: @user do |form| %>
    <%=form.label :username, "How should we call you?" %>
    <%=form.text_field :username%>
    <%=form.label :email, "Email" %>
    <%=form.email_field :email, placeholder: 'example@mail.com' %>
    <%=form.label :password, "Password" %>
    <%= form.password_field :password, placeholder: "*****"%>
    <%=form.submit 'Create'%>
<% end %>